HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Env ###
.env

### Claude Code ###
.git-workflow/
.claude/settings.local.json
/.claude/commands/speckit.analyze.md
/.claude/commands/speckit.checklist.md
/.claude/commands/speckit.clarify.md
/.claude/commands/speckit.constitution.md
/.claude/commands/speckit.implement.md
/.claude/commands/speckit.plan.md
/.claude/commands/speckit.specify.md
/.claude/commands/speckit.tasks.md
/.claude/commands/speckit.taskstoissues.md
/.specify/memory/constitution.md
/.specify/scripts/powershell/check-prerequisites.ps1
/.specify/scripts/powershell/common.ps1
/.specify/scripts/powershell/create-new-feature.ps1
/.specify/scripts/powershell/setup-plan.ps1
/.specify/scripts/powershell/update-agent-context.ps1
/.specify/templates/agent-file-template.md
/.specify/templates/checklist-template.md
/.specify/templates/constitution-template.md
/.specify/templates/plan-template.md
/.specify/templates/spec-template.md
/.specify/templates/tasks-template.md
/.specify/init-options.json
